<ion-header>
  <ion-navbar color="dying">
    <ion-title>

      Bro' Cool?
      <div class="checked">{{totalChecked}}/{{totalOeuvres}}

      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let xyz of oeuvres">
    <div style="position: relative;">
      <img src="/assets/imgs/oeuvres/{{ xyz.image }}">
      <ion-fab right top *ngIf="xyz.checked">
        <button ion-fab color="dying">
          <ion-icon name="star"></ion-icon>
        </button>
      </ion-fab>
    </div>

    <ion-item>
      <ion-icon name="person" item-start large></ion-icon>
      <h2>{{ xyz.lastname}} {{ xyz.firstname}}</h2>
      <ion-badge color="dying">{{ xyz.code }}</ion-badge>
    </ion-item>

  </ion-card>
</ion-content>